    <h1 class="text-center">{{recipeDetail.title}}</h1>
    <img class="pull-right img-responsive" src="{{recipeDetail.imageUrl}}" alt="ImageUrl">
    <div class="dropdown" appDropdown>
        <a class="btn btn-primary dropdown-toggle" role="button">
            Dropdown link
            <span class="caret"></span></a>

        <ul class="dropdown-menu">
            <li><a (click)="exportIngredients()">add ingredients to shopping list</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
        </ul>
    </div>
    <p>{{recipeDetail.description}}</p>
    <ul *ngFor="let ingredient of recipeDetail.ingredients">
        <li>
            {{ingredient.Name}} : {{ingredient.Amount}}
        </li>
    </ul>