<!-- <label for="userName">Username:</label><br>
<input type=text id='userName' name="userName" class="form-control" [(ngModel)]="userName" (keyup)='onKeyCheckIfDataIsFull($event)'>
<p>Your typed username is : {{userName}}</p>
<button [disabled]="isDisabled" (click)='onClickResetUsername()'>Reset Username</button>



<button (click)="onClickLogToggle()">Display details</button>
<p *ngIf="showParagraph" >This is test paragraph</p>
<ul *ngFor="let item of arrayLogAmount; index as i">
    <li [ngStyle]="{'background-color': i > 5 ? 'blue' : 'white' }" [ngClass]="{white: i> 5}" >{{item}}</li>
</ul> -->

<app-header></app-header>
<div class="container">
    <div class="col-md-6">
        <div *ngFor="let recipe of Recipes;">
            <app-recipe [Recipe]="recipe"></app-recipe>
        </div>
    </div>
</div>
